<p id="notice"><%= notice %></p>

<section>
<%= render 'search' %>
</section>

<h1>Listing File Managers</h1>

<table>
  <thead>
    <tr>
      <th>File avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <p>See this page?</p>
  </tbody>
</table>

<br>

<%= link_to 'New File manager', new_file_manager_path %>
