<p id="notice"><%= notice %></p>

<p>
  <strong>File avatar:</strong>
  <%= @file_manager.file_avatar.url %>
</p>

<%= link_to '编辑', edit_file_manager_path(@file_manager) %> |
<%= link_to '返回', file_managers_path %>
