
<div class="general_form">
<% if flash[:alert] %>
	<p id="notice"><% flash[:alert] %></p>	    
<% end %>

<!-- use form_tag instead of form_for, to make normal html <form> without a model -->
<%= form_tag do %>
	<fieldset>
		<legend>请输入您的用户名和密码</legend>
		<div>
			<label for="name">登录名</label>
			<%= text_field_tag :name, params[:name] %>			
		</div>
		<div>
			<label for="password">密码</label>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div>
			<%= submit_tag "登录" %>
		</div>
	</fieldset>
<% end %>
</div>
