<h1>Order updated notification</h1>
<p>
  <%= @greeting %>, we've recently shipped you order:
</p>
<table>
	<tr><th colspan="2">Qty</th><th>Modification in Detail</th></tr>
	<%= render @order.item_lines %>
</table>
<!-- <tr id="current_item">
	
</tr>
 -->
<p>Please checkout our website for further info</p>
