<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Editing Wishlist</title>
	<h1>Editing Wishlist</h1>
</head>
<body>
  <p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= link_to 'Show', @wishlist %> |
<%= link_to 'Back', wishlists_path %>
	
</body>
</html>

