<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<p id="notice"><%= notice %></p>
<!-- <section> -->
<section>
	
<%= render @wishlist %>


</section>
	
<!-- </section> -->
<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
	
</body>
</html>
