<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<p id="notice"><%= notice %></p>
<section>
	<%= render @wishlist %>
</section>

<%= link_to '编辑', edit_wishlist_path(@wishlist) %> |
<%= link_to '返回', products_url %>
	
</body>
</html>
