<!DOCTYPE html>

   <!--start holder-->

   <div class="holder_content1">
    <section class="group4">
   <h3>我们拥有的在线资源</h3>
   	<p></p>
    <div class="pikachoose">
	<ul id="pikame" >
		<li><a href="#"><img src="images/picture1.jpg" width="500" height="250"  alt="picture"/></a><span>在线浏览</span></li>
		<li><a href="#"><img src="images/picture2.jpg" width="500" height="250" alt="picture"/></a><span>收藏商品</span></li>
		<li><a href="#"><img src="images/picture3.jpg" width="500" height="250" alt="picture"/></a><span>发表评论</span></li>
	   </ul>
       </div>

	</section>
       
   <section class="group5">
   <h3>您可以享受到的服务：</h3>
	   	<p><span class="mini_purple">1)扫二维码，查询信息</p>
      	<p><span class="mini_purple">2)浏览商品，添加评论
      	<p><span class="mini_purple">3)加心愿单，个性收藏</p>
	</section>
    </div>

   
    <!--end holder-->

   <!--start holder-->
   <div class="holder_content">
   
   <section class="group1">
   <h3>关于网站</h3>
   <dl>
   	<dt>本平台为方便顾客在超市选购设计</dt>
   	<dd>您可以方便的浏览商品信息</dd>
   	<dt>提供商品评论功能</dt>
   	<dd>便于您选购时货比三家，淘到满意的商品</dd>
   </dl>
    <a href=""><span class="read_more">浏览更多...</span></a>

	</section>
	

     
   <section class="group2">
   <h3>服务</h3>
   <dl>
   	<dt>支持商品信息全文检索</dt>
   	<dd>方便快捷地找到您所需的商品</dd>
   	<dt>提供在线收藏货品功能</dt>
   	<dd>充分节约您的选购时间，您也可以点击鼠标将选购的商品列表发送到您的邮箱</dd>
   	<dt>二维码扫描访问商品信息页面支持</dt>
   </dl>
   	<p>商品搜索支持全文检索，采用rails框架开发。</p>
	<a href=""><span class="read_more">浏览更多...</span></a>

	</section>


       
   <section class="group3">
   <h3>联系我们</h3>
   <dl>
   	<dt>开发小组</dt>
	<dd>赵牧雨</dd>
	<dd>沈俊丞</dd>
	<dd>林睿雯</dd>
   </dl>
	</section>

  
   </div>
   <!--end holder-->
